.container-busca {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.entrada-busca {
  padding: 12px;
  border-radius: 10px;
  border: none;
  width: 300px;
  font-size: 1rem;
}

.botao-busca {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
