.app {
  min-height: 100vh;
  background: radial-gradient(circle at top, #1e293b, #020617);
  padding: 40px 20px;
  font-family: Arial;
}

.app-conteudo {
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  width: 300px;
  display: block;
  margin: 20px auto;
}
